BOT_TOKEN=
ADMIN_IDS=
MINIAPP_URL=https://YOUR-RENDER-SERVICE.onrender.com
PAYMENT_CARD_NUMBER=
PAYMENT_RECIPIENT_NAME=
COMMISSION_CARD_NUMBER=
COMMISSION_RECIPIENT_NAME=
SUPPORT_USERNAME=@your_username
CARD_ENCRYPTION_KEY=
PORT=10000
